.transaction-child {
  position: absolute;
  top: 101px;
  left: 250px;
  background-color: #f5f7fa;
  width: 1190px;
  height: 923px;
}
.transaction-item {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fafbff;
  width: 250px;
  height: 1024px;
  display: none;
}
.service-1-icon {
  position: absolute;
  top: 384px;
  left: 43px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.settings-solid-1 {
  position: absolute;
  top: 512px;
  left: 41px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.credit-card-1-icon {
  position: absolute;
  top: 256px;
  left: 43px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.economic-investment-1-icon {
  position: absolute;
  top: 192px;
  left: 44px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.transfer-1-icon {
  position: absolute;
  top: 64px;
  left: 44px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.loan-1-icon {
  position: absolute;
  top: 321px;
  left: 43px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.transactions {
  position: absolute;
  top: 66px;
  left: 95px;
  font-weight: 500;
  color: #1814f3;
}
.accounts {
  position: absolute;
  top: 130px;
  left: 95px;
  font-weight: 500;
}
.investments {
  position: absolute;
  top: 194px;
  left: 95px;
  font-weight: 500;
}
.credit-cards {
  position: absolute;
  top: 258px;
  left: 95px;
  font-weight: 500;
}
.loans {
  position: absolute;
  top: 322px;
  left: 95px;
  font-weight: 500;
}
.services {
  position: absolute;
  top: 386px;
  left: 95px;
  font-weight: 500;
}
.my-privileges {
  position: absolute;
  top: 450px;
  left: 95px;
  font-weight: 500;
}
.setting {
  position: absolute;
  top: 514px;
  left: 95px;
  font-weight: 500;
}
.user-3-1 {
  position: absolute;
  top: 129px;
  left: 44px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.econometrics-1-icon {
  position: absolute;
  top: 448px;
  left: 43px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.home-2-icon {
  position: absolute;
  top: 0px;
  left: 44px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.dashboard {
  position: absolute;
  top: 2px;
  left: 95px;
  font-weight: 500;
}
.group-child {
  position: absolute;
  top: 47px;
  left: 0px;
  border-radius: 0px 10px 10px 0px;
  background-color: #1814f3;
  width: 6px;
  height: 60px;
}
.home-2-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 189px;
  height: 107px;
}
.service-1-parent {
  position: absolute;
  top: 131px;
  left: 0px;
  width: 211px;
  height: 537px;
  font-size: 18px;
  color: #b1b1b1;
}
.transaction-inner {
  position: absolute;
  top: 269px;
  left: 905px;
  width: 350px;
  height: 1px;
}
.my-cards {
  position: absolute;
  top: 125px;
  left: 290px;
  font-size: 22px;
  font-weight: 600;
}
.header-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 1440px;
  height: 100px;
}
.mask-group-icon {
  position: absolute;
  top: 0px;
  left: 1050px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.group-item {
  position: absolute;
  top: 5px;
  left: 885px;
  width: 50px;
  height: 50px;
}
.group-inner {
  position: absolute;
  top: 5px;
  left: 965px;
  width: 50px;
  height: 50px;
}
.transactions1 {
  position: absolute;
  top: 13px;
  left: 0px;
  font-weight: 600;
}
.rectangle-div {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 40px;
  background-color: #f5f7fa;
  width: 255px;
  height: 50px;
}
.magnifying-glass-1-icon {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.search-for-something {
  position: absolute;
  top: 16px;
  left: 60px;
}
.rectangle-parent {
  position: absolute;
  top: 5px;
  left: 600px;
  width: 255px;
  height: 50px;
  font-size: 15px;
  color: #8ba3cb;
}
.mask-group-parent {
  position: absolute;
  top: 0px;
  left: 249px;
  width: 1110px;
  height: 60px;
}
.iconfinder-vector-65-09-473792 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  overflow: hidden;
  object-fit: cover;
}
.bankdash {
  position: absolute;
  top: 4px;
  left: 45px;
}
.logo {
  position: absolute;
  top: 13px;
  left: 0px;
  width: 183px;
  height: 36px;
  font-size: 25px;
  font-family: Mont;
}
.group-parent {
  position: absolute;
  top: 20px;
  left: 41px;
  width: 1359px;
  height: 60px;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 100px;
  font-size: 28px;
}
.transaction-child1 {
  position: absolute;
  top: 100px;
  left: 250px;
  background-color: #e6eff5;
  width: 1190px;
  height: 1px;
}
.add-card {
  position: absolute;
  top: 130px;
  left: 927px;
  font-size: 17px;
  font-weight: 600;
}
.transaction-child2 {
  position: absolute;
  top: 0px;
  left: 249px;
  background-color: #e6eff5;
  width: 1px;
  height: 1024px;
}
.my-expense {
  position: absolute;
  top: 125px;
  left: 1050px;
  font-size: 22px;
  font-weight: 600;
}
.group-child1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  background-color: #fff;
  width: 350px;
  height: 225px;
}
.div {
  position: absolute;
  top: 22px;
  left: 224px;
  font-size: 14px;
  font-weight: 500;
  color: #343c6a;
}
.aug {
  position: absolute;
  top: 184px;
  left: 31px;
}
.sep {
  position: absolute;
  top: 184px;
  left: 84px;
}
.oct {
  position: absolute;
  top: 184px;
  left: 137px;
}
.nov {
  position: absolute;
  top: 184px;
  left: 187px;
}
.dec {
  position: absolute;
  top: 184px;
  left: 239px;
}
.jan {
  position: absolute;
  top: 184px;
  left: 293px;
}
.group-child2 {
  position: absolute;
  top: 82px;
  left: 25px;
  border-radius: 10px;
  background-color: #edf0f7;
  width: 37px;
  height: 93px;
}
.group-child3 {
  position: absolute;
  top: 33px;
  left: 77px;
  border-radius: 10px;
  background-color: #edf0f7;
  width: 37px;
  height: 142px;
}
.group-child4 {
  position: absolute;
  top: 79px;
  left: 129px;
  border-radius: 10px;
  background-color: #edf0f7;
  width: 37px;
  height: 96px;
}
.group-child5 {
  position: absolute;
  top: 126px;
  left: 181px;
  border-radius: 10px;
  background-color: #edf0f7;
  width: 37px;
  height: 49px;
}
.group-child6 {
  position: absolute;
  top: 46px;
  left: 233px;
  box-shadow: 0px 0px 35px rgba(18, 136, 126, 0.2);
  border-radius: 10px;
  background-color: #16dbcc;
  width: 37px;
  height: 129px;
}
.group-child7 {
  position: absolute;
  top: 87px;
  left: 285px;
  border-radius: 10px;
  background-color: #edf0f7;
  width: 37px;
  height: 88px;
}
.rectangle-group {
  position: absolute;
  top: 172px;
  left: 1050px;
  width: 350px;
  height: 225px;
  text-align: center;
  font-size: 13px;
  color: #718ebf;
}
.recent-transactions {
  position: absolute;
  top: 421px;
  left: 290px;
  font-size: 22px;
  font-weight: 600;
}
.group-child8 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  background: linear-gradient(107.38deg, #4c49ed, #0a06f4);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 350px;
  height: 225px;
}
.group-child9 {
  position: absolute;
  top: 155px;
  left: 0px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #000;
  box-sizing: border-box;
  width: 350px;
  height: 70px;
}
.valid-thru {
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.number-day-month {
  position: absolute;
  top: 91px;
  left: 183px;
  width: 70px;
  height: 34.9px;
}
.eddy-cusuma {
  position: absolute;
  top: 16.89px;
  left: 0px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.card-name {
  position: absolute;
  top: 91px;
  left: 26px;
  width: 90px;
  height: 34.9px;
}
.div2 {
  position: absolute;
  top: 14px;
  left: 0px;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.blance {
  position: absolute;
  top: 24px;
  left: 26px;
  width: 63px;
  height: 38px;
  color: #fff;
}
.chip-card-icon {
  position: absolute;
  top: 25px;
  left: 291px;
  width: 34.8px;
  height: 34.8px;
  object-fit: cover;
}
.div3 {
  position: absolute;
  top: 2px;
  left: 0px;
  font-weight: 600;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.group-icon {
  position: absolute;
  top: 0px;
  left: 256px;
  width: 44px;
  height: 30px;
}
.parent {
  position: absolute;
  top: 175px;
  left: 26px;
  width: 300px;
  height: 30px;
  font-size: 22px;
  color: #fff;
}
.rectangle-container {
  position: absolute;
  top: 172px;
  left: 290px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 225px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Lato;
}
.group-child10 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  background-color: #fff;
  border: 1px solid #dfeaf2;
  box-sizing: border-box;
  width: 350px;
  height: 225px;
}
.group-child11 {
  position: absolute;
  top: 155px;
  left: 0px;
  border-radius: 0px 0px 25px 25px;
  border: 1px solid #dfeaf2;
  box-sizing: border-box;
  width: 350px;
  height: 70px;
}
.valid-thru1 {
  position: absolute;
  top: 0px;
  left: 0px;
}
.div4 {
  position: absolute;
  top: 16.89px;
  left: 0px;
  font-size: 15px;
  font-weight: 600;
  color: #343c6a;
}
.div5 {
  position: absolute;
  top: 14px;
  left: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #343c6a;
}
.blance1 {
  position: absolute;
  top: 24px;
  left: 26px;
  width: 63px;
  height: 38px;
}
.div6 {
  position: absolute;
  top: 2px;
  left: 0px;
  font-weight: 600;
}
.group {
  position: absolute;
  top: 175px;
  left: 26px;
  width: 300px;
  height: 30px;
  font-size: 22px;
  color: #343c6a;
}
.group-div {
  position: absolute;
  top: 172px;
  left: 670px;
  width: 350px;
  height: 225px;
  font-size: 12px;
  color: #718ebf;
  font-family: Lato;
}
.all-transactions {
  position: absolute;
  top: 475px;
  left: 301px;
  font-weight: 500;
  color: #1814f3;
}
.income {
  position: absolute;
  top: 475px;
  left: 506px;
  font-weight: 500;
  color: #718ebf;
}
.expense {
  position: absolute;
  top: 475px;
  left: 645px;
  font-weight: 500;
  color: #718ebf;
}
.transaction-child3 {
  position: absolute;
  top: 504px;
  left: 290px;
  background-color: #ebeef2;
  width: 1110px;
  height: 1px;
}
.transaction-child4 {
  position: absolute;
  top: 502px;
  left: 290px;
  border-radius: 10px 10px 0px 0px;
  background-color: #1814f3;
  width: 145px;
  height: 3px;
}
.group-child13 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  background-color: #fff;
  width: 1110px;
  height: 397px;
}
.description {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
}
.card {
  position: absolute;
  top: 0px;
  left: 510px;
  font-weight: 500;
}
.date {
  position: absolute;
  top: 0px;
  left: 644px;
  font-weight: 500;
}
.type {
  position: absolute;
  top: 0px;
  left: 385px;
  font-weight: 500;
}
.transaction-id {
  position: absolute;
  top: 0px;
  left: 231px;
  font-weight: 500;
}
.amount {
  position: absolute;
  top: 0px;
  left: 842px;
  font-weight: 500;
}
.receipt {
  position: absolute;
  top: 0px;
  left: 952px;
  font-weight: 500;
}
.description-parent {
  position: absolute;
  top: 22px;
  left: 30px;
  width: 1010px;
  height: 19px;
  color: #718ebf;
}
.group-child14 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 30px;
  height: 30px;
}
.spotify-subscription {
  position: absolute;
  top: 8px;
  left: 44px;
}
.shopping {
  position: absolute;
  top: 8px;
  left: 383px;
}
.div7 {
  position: absolute;
  top: 8px;
  left: 229px;
}
.div8 {
  position: absolute;
  top: 8px;
  left: 508px;
}
.jan-1230-am {
  position: absolute;
  top: 8px;
  left: 642px;
}
.div9 {
  position: absolute;
  top: 8px;
  left: 840px;
  font-weight: 500;
  color: #fe5c73;
}
.download {
  position: absolute;
  top: 9px;
  left: 15px;
}
.group-child15 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50px;
  border: 1px solid #123288;
  box-sizing: border-box;
  width: 100px;
  height: 35px;
}
.download-parent {
  position: absolute;
  top: 0px;
  left: 950px;
  width: 100px;
  height: 35px;
  font-size: 15px;
  color: #123288;
}
.group-container {
  position: absolute;
  top: 68px;
  left: 30px;
  width: 1050px;
  height: 35px;
}
.div12 {
  position: absolute;
  top: 8px;
  left: 840px;
  font-weight: 500;
  color: #16dbaa;
}
.container {
  position: absolute;
  top: 134px;
  left: 30px;
  width: 1050px;
  height: 35px;
}
.group-child19 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50px;
  border: 1px solid #1814f3;
  box-sizing: border-box;
  width: 100px;
  height: 35px;
}
.download-container {
  position: absolute;
  top: 0px;
  left: 950px;
  width: 100px;
  height: 35px;
  font-size: 15px;
  color: #1814f3;
}
.parent1 {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 1050px;
  height: 35px;
}
.parent2 {
  position: absolute;
  top: 266px;
  left: 30px;
  width: 1050px;
  height: 35px;
}
.group-child22 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.parent3 {
  position: absolute;
  top: 332px;
  left: 30px;
  width: 1050px;
  height: 35px;
}
.group-child24 {
  position: absolute;
  top: 52px;
  left: 30px;
  background-color: #e6eff5;
  width: 1050px;
  height: 1px;
}
.group-child25 {
  position: absolute;
  top: 118px;
  left: 30px;
  background-color: #f2f4f7;
  width: 1050px;
  height: 1px;
}
.group-child26 {
  position: absolute;
  top: 184px;
  left: 30px;
  background-color: #f2f4f7;
  width: 1050px;
  height: 1px;
}
.group-child27 {
  position: absolute;
  top: 250px;
  left: 30px;
  background-color: #f2f4f7;
  width: 1050px;
  height: 1px;
}
.group-child28 {
  position: absolute;
  top: 316px;
  left: 30px;
  background-color: #f2f4f7;
  width: 1050px;
  height: 1px;
}
.rectangle-parent1 {
  position: absolute;
  top: 530px;
  left: 290px;
  width: 1110px;
  height: 397px;
  color: #232323;
}
.vector-icon {
  position: absolute;
  top: 3px;
  left: 41px;
  width: 6px;
  height: 12px;
  object-fit: contain;
}
.next-parent {
  position: absolute;
  top: 11px;
  left: 250px;
  width: 47px;
  height: 18px;
}
.previous {
  position: absolute;
  top: 0px;
  left: 13px;
  font-weight: 500;
}
.group-child29 {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 6px;
  height: 12px;
  object-fit: contain;
}
.previous-parent {
  position: absolute;
  top: 11px;
  left: 0px;
  width: 75px;
  height: 18px;
}
.div22 {
  position: absolute;
  top: 11px;
  left: 175px;
  font-weight: 500;
}
.div23 {
  position: absolute;
  top: 11px;
  left: 212px;
  font-weight: 500;
}
.group-child30 {
  position: absolute;
  top: 0px;
  left: 87px;
  border-radius: 10px;
  background-color: #1814f3;
  width: 40px;
  height: 40px;
}
.div24 {
  position: absolute;
  top: 11px;
  left: 103px;
  font-weight: 500;
  color: #fff;
}
.div25 {
  position: absolute;
  top: 11px;
  left: 138px;
  font-weight: 500;
}
.group-parent1 {
  position: absolute;
  top: 957px;
  left: 1102px;
  width: 297px;
  height: 40px;
  font-size: 15px;
  color: #1814f3;
}
.transaction {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #343c6a;
  font-family: Inter;
}

.search-icon {
  border: solid;
  padding: 10px;
}

.search-group {
  display: flex;
}

.form-search {
  border-radius: 20px;
}
